---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
  ##
  ## Base operator rules
  ##
  - apiGroups:
      - ""
    resources:
      - secrets
      - pods
      - pods/exec
      - pods/log
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  ##
  ## Rules for metering.openshift.io/v1alpha1, Kind: RecoverReport
  ##
  - apiGroups:
      - metering.openshift.io
    resources:
      - recoverreports
      - recoverreports/status
      - recoverreports/finalizers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  ##
  ## Rules for metering.openshift.io/v1alpha1, Kind: PruneReport
  ##
  - apiGroups:
      - metering.openshift.io
    resources:
      - prunereports
      - prunereports/status
      - prunereports/finalizers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
# +kubebuilder:scaffold:rules
